.personal-info{
    background-color: #0c0b0f;
    color: #f8f9fa;
    .info-container{
        padding: 80px;
        display: flex;
        flex-direction: row;
    
        justify-content: space-around;
        align-items: center;
    }
}