<div class="container-fluid banner">
  <div class="container">
    <div class=" dev-name">
      <h1>Bryan Bolalin</h1>
      <h1>Web Developer</h1>
      <hr class="slogan">

      <ul>
        <li>
          <a href="https://www.behance.net/bryanbolalin" target="_blank">
            <img src="./assets/images/social-icons/behance.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/bryan.tayama/" target="_blank">
            <img src="./assets/images/social-icons/facebook.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/brytayammaa/" target="_blank">
            <img src="./assets/images/social-icons/instagram.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/bryan-bolalin-0807ba141/" target="_blank">
            <img src="./assets/images/social-icons/linkedin.jpg" alt="">
          </a>
        </li>
      </ul>

      <p class="about-desc isNotMobile">
        <i>
          " My name is Bryan Bolalin, I worked as a Website Designer for 1.5 years and currently working as a
          Front-end developer for 2 years up to present. I like exploring new thing that is related with my path
          and Back end development is interesting and will definitely gain more knowledge and skills about it soon.. "
        </i>
      </p>
    </div>
  </div>
</div>
<div class="container about-for-mobile">
  <p class="isNotMobile">
    <i>
      " My name is Bryan Bolalin, I worked as a Website Designer for 1.5 years and currently working as a
      Front-end developer for 2 years up to present. I like exploring new thing that is related with my path
      and Back end development is interesting and will definitely gain more knowledge and skills about it soon.. "
    </i>
  </p>
</div>