<div class="container-fluid experience">
    <div class="container">
        <h2>Work Experience</h2>
    </div>
</div>
<div class="caontainer-fluid timeline-slider">
    <div class="bg-color">
        <div class="timeline-content">
            <ng-container *ngIf="bgSelectedIndex == 2">
                <div class="timelinecontents">
                    <span class="date">2017 - 18</span>
                    <span class="company-name">
                        <p>Personiv</p>
                        <p>Web Designer</p>
                    </span>
                    <ul>
                        <li>Design and built multiple responsive websites for various businesses</li>
                        <li>Managed, maintain, and update existing websites</li>
                        <li>Coordinates with the supervisor for the completion of the project</li>
                    </ul>
                </div>
            </ng-container>
            <ng-container *ngIf="bgSelectedIndex == 1">
                <div class="timelinecontents">
                    <span class="date">2018 - 19</span>
                    <span class="company-name">
                        <p>Dealercity, Canada (Homebased)</p>
                        <p>Front-End Developer</p>
                    </span>
                    <ul>
                        <li>Modification and maintenance of client’s website based on their needs/instructions</li>
                        <li>Analysing websites problem using Html5, Css, Javascript and Jquery</li>
                    </ul>
                </div>
            </ng-container>
            <ng-container *ngIf="bgSelectedIndex == 0">
                <div class="timelinecontents">
                    <span class="date">2019 - Present</span>
                    <span class="company-name">
                        <p>2Success</p>
                        <p>Front-End Developer</p>
                    </span>
                    <ul>
                        <li>Daily Scrum</li>
                        <li>Creates Minigame</li>
                        <li>API Integration</li>
                        <li>Android / iOS Mobile Application / Cordova</li>
                    </ul>
                </div>
            </ng-container>
        </div>
        <div class="timeline-dates">
            <ul>
                <li class="dates-link" *ngFor="let date of timelineDates; let i = index;"
                    [ngClass]="{ active: isSelectedItem(i) }" (click)="selectTimeline(i)">
                    <i>{{date.date}}</i>
                </li>
            </ul>
        </div>
    </div>
</div>