.experience{
    background-color: #0c0b0f;
    // background-image: url("/assets/images/work-exp/bgjpg.jpg");
    color: #0c0b0f;
    padding: 50px 0;
    div h2{
        color: #f8f9fa;
    }

}
.timeline-slider{
    background-position: 100%;
    background-size: cover;
    transition: 0.3s;

    .bg-color{
        flex-direction: row;
        padding: 80px;
        display: flex;
        background-image: linear-gradient(to left, rgba(0,0,0,0.5) , transparent);
        .timeline-dates{
            // font-weight: bold;
            color: #f8f9fa;
            width: 30%;
            display: flex;
            align-items: center;
            padding-left: 70px;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    text-decoration: none;
                    margin: 20px 0;
                    cursor: pointer;

                    transition: 0.2s;
                }
                li:hover{
                    transform: translateX(-20px);
                    transition: 0.3s;
                    font-weight: bold;
                }
                .active{
                    color: #ffe47c;
                }
            }
        }
        .timeline-content{
            display: flex;
            justify-content: flex-end;
            text-align: right;
            padding-right: 70px;
            width: 70%;
            color: #f8f9fa;
            border-right: 2px solid white;
            background-color: rgba(0,0,0,0.5);       

            ng-container{
                transition: 0.3s ease-in-out;
            }

            .date{
                font-size: 34px;
                font-style: italic;
            }
            .company-name{
                p{
                    font-family: "Montserrat", Times, serif !important;
                    margin: 0;
                    line-height: 1;
                }
                p:nth-child(1){
                    font-size: 36px !important;
                }
                p:nth-child(2){
                    font-size: 44px !important;
                    margin-bottom: 20px;
                }
            }
            .timelinecontents{
                ul{
                    list-style: none;
    
                    li{
                        text-decoration: none;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .bg-color{
        flex-direction: column-reverse !important;
        padding: 20px !important;
    }
    .timeline-dates{
        width: 100% !important;
        padding: 0 !important;
        text-align: right;
        justify-content: flex-end;
    }
    .timeline-content{
        border-top: 2px solid white;
        border-right: none !important;
        width: 100% !important;
        padding-right: 20px !important;
        .date{
            font-size: 24px !important;
        }
        .company-name:nth-child(1){
            font-size: 24px !important;
        }
    }
}