@import "../../../styles/variables.scss";
@import "../../../../styles.scss";
*{
  background-color: black;
}
.nav-menu-mobile{
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-center{
  justify-items: center;
  align-items: center;
}

.navigation-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  @media only screen and (max-width: 600px) {
    justify-content: center;
    align-items: center;
  }

  padding: 20px 0;

  color: white;

  .logo{
    img{
      width: 70%;
      cursor: pointer;
    }
  }
  .nav-menu{
    display: flex;
    align-items: center;
    justify-items: center;

    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      li{
        margin-left: 50px;
        text-decoration: none;
        color: #c3c3c3;
        cursor: pointer;
        font-weight: bold;
        font-family: "Montserrat", serif !important;
      
        a{
          color: #c3c3c3;
        }
      }
    }

    a:hover{
      transition: 0.3s;
      color: #f7f7f7 !important;
      text-decoration: none;
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

}

.nav-menu-mobile{
  ul{
    list-style: none;
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    li{
      text-decoration: none;
      a{
        text-decoration: none;
        color: #c3c3c3;
      }
    }
    li:hover{
      color: #f7f7f7;
      transition: 0.3s;
    }
  }
  .hamburger:hover{
    transform: translateY(-5px);
    transition: 0.3s
  }
}
.fa-bars:before{
  color: white !important;
}
.active{
  color: #f3f3f3 !important;
}