<div class="container-fluid">
  <div class="navigation-container container">
    <div class="logo">
      <img src="./assets/images/header/bryLogo-DarkBG.png" alt="bry">
    </div>
    <div class="nav-menu">
      <ul>
        <li *ngFor="let navD of listNav; let i = index" (click)="selectNavDesk(navD.link,i)">
          <a [ngClass]="{active: isSelectedItem(i) }" href="{{navD.link}}"> {{navD.name}}</a>
        </li>

        <!-- <li><a href="#"> home </a></li>
        <li><a href="#qualification">qualifications</a> </li>
        <li><a href="#exp">experience</a> </li> -->
        <!-- <li><a href="#">contact</a> </li> -->
      </ul>
    </div>
    <div class="nav-menu-mobile">
      <span (click)="isMenuOpen=!isMenuOpen" class="hamburger"><img src="./assets/images/hamburger.png" alt=""></span>
      <div *ngIf="isMenuOpen" class="menuNavigation">
        <ul>
          <li *ngFor="let navD of listNav; let i = index" (click)="selectNavDesk(navD.link,i)">
            <a [ngClass]="{active: isSelectedItem(i) }" href="{{navD.link}}"> {{navD.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>