<div class="tech-stack">
    <h2>My Tech Stack</h2>
    <ul>
        <li class="ai"><img src="./assets/images/tech-stack/Ai.jpg" alt=""></li>
        <li class="bootstrap"><img src="./assets/images/tech-stack/bootstrap.png" alt=""></li>
        <li class="ps"><img src="./assets/images/tech-stack/ps.jpg" alt=""></li>
        <li class="html5"><img src="./assets/images/tech-stack/html5.png" alt=""></li>
        <li class="js"><img src="./assets/images/tech-stack/JS.png" alt=""></li>
        <li class="ang"><img src="./assets/images/tech-stack/Ang.png" alt=""></li>
        <li class="es6"><img src="./assets/images/tech-stack/es6.png" alt=""></li>
        <li class="css"><img src="./assets/images/tech-stack/css.png" alt=""></li>
        <li class="cordova"><img src="./assets/images/tech-stack/cordova.png" alt=""></li>
        <li class="Vue"><img src="./assets/images/tech-stack/Vue.png" alt=""></li>
        <li class="typescript"><img src="./assets/images/tech-stack/typescript.png" alt=""></li>
        <li class="ngrx"><img src="./assets/images/tech-stack/ngrx.png" alt=""></li>
    </ul>
    <div class="back-to-top" (click)="backtoTop()">
        <i class="fas fa-arrow-up"></i>
    </div>
</div>