.tech-stack{
    padding: 80px;
    background-color: #0c0b0f;
    color: #f8f9fa;
    position: relative;
    h2{
        margin-bottom: 60px;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: center;

        flex-wrap: wrap;
        padding: 0;
        li{
            text-decoration: none;
            margin-right: 40px;
            img{
                width: 120px;
            }
        }
        li:nth-child(odd){
            animation-name: floating1;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            margin-top: 20px;
        }
        li:nth-child(even){
            animation-name: floating2;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            margin-top: -30px;
        }
        .ai img{
            width: 40px;
        }
        .ps img{
            width: 60px;
        }
        .bootstrap img{
            width: 100px;
        }
        .html5 img{
            width: 90px;
        }
        .es6 img{
            width: 100px;
        }
        .cordova img{
            width: 80px;
        }
    }
    @media only screen and (max-width: 600px) {
        padding: 20px;
        ul li{
            margin-right: 20px;
        }
        .ps img{
            margin-top: -40px;
        }
        .cordova img{
            margin-top: -50px;
            margin-left: -20px;
        }
    }
    .back-to-top{
        position: fixed;
        right: 5%;
        bottom: 5%;
        background-color: #ffe47c;
        color: black;
        padding: 10px 15px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
        
        // position: absolute;
        // right: 4%;
        // background-color: #ffe47c;
        // color: black;
        // padding: 10px 15px;
        // border-radius: 50%;
        // visibility: hidden;
        // cursor: pointer;
    }
}


@keyframes floating1 {
    0% { transform: translate(2px,  -1px); }
    50%  { transform: translate(8px, 6px); }
    100%   { transform: translate(3px, -1px); }    
}

@keyframes floating2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate(-10px, -10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
	}   
}