<div id="qualifications" class="container-fluid qualifications">
    <div class="container three-col-qualifications">
        <div class="box-col col1">
            <img src="/assets/images/first-row/web-dev-flat.png" alt="">
            <h3>Web Development</h3>
            Experienced Front-End Developer using Vue / Angular2+ / Angular Material / Cordova.
        </div>
        <div class="box-col col2">
            <img src="/assets/images/first-row/api-integ-flat.png" alt="">
            <h3>API Integration</h3>
            Good Understanding of RXJS and NGRX state management and API integrations
        </div>
        <div class="box-col col3">
            <img src="/assets/images/first-row/html-psd.png" alt="">
            <h3>Templating</h3>
            Proficient in converting PSD to HTML and creating website mock ups using photoshop and illustrator
        </div>
    </div>
</div>