.qualifications{
    padding: 80px 0;
    background-color: #0c0b0f;
    color: #f8f9fa; 
    h2{
        margin-bottom: 20px;
    }
    .three-col-qualifications{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .box-col{
            margin-right: 20px;
            width: 33%;
            padding: 40px;
            font-size: 18px;
            background-color: #0c0b0f;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: relative;
            box-shadow: 1px 1px 0px black, 0 0 25px #1b1b1b, 0 0 4px #443c3c;

            h3{
                margin-bottom: 20px;
            }
            img{
                // position: absolute;
                // top: -30%;
                width: 120px;
                margin-bottom: 50px;
            }
        }
        .box-col:hover{
            box-shadow: 1px 1px 0px black, 0 0 25px #1b1b1b, 0 0 20px #443c3c;
            transform: translate(0px, -5px);
            transition: 0.3s;
            cursor: pointer;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            .box-col{
                width: 100%;
                margin-bottom: 15px;

            }
        }
    }
}

